<categories-menu id="categories-menu-drawer" class="drawer drawer--from-right">
  <span class="drawer__overlay"></span>

  <div class="drawer__header drawer__header--shadowed">
    <button type="button" class="drawer__close-button drawer__close-button--block tap-area" data-action="close">
      <svg width="14" height="14" viewBox="0 0 14 14"><path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path></svg>
    </button>
  </div>

  <div class="drawer__content">
    <ul class="categories-nav list--unstyled">

      {%- for link in section.settings.menu_categories.links -%}
        <li class="categories-nav__item" data-level="1">

          {%- if link.links != blank -%}

            <!-- Catégorie parent -->
            <button class="categories-nav__link_main js-toggle-submenu">
              <span class="categories-nav__text">{{ link.title }}</span>
              <span class="arrow">›</span>
            </button>

            <!-- Sous-catégories -->
            <ul class="subcategories-nav list--unstyled" style="display:none;">
              {%- for childlink in link.links -%}
                <li class="categories-nav__item" data-level="2">
                  {%- if childlink.links != blank -%}
                    <!-- Catégorie enfant avec propre sous-menu -->
                    <button class="categories-nav__link_child js-toggle-submenu">
                      <span class="categories-nav__text">{{ childlink.title }}</span>
                      <span class="arrow">›</span>
                    </button>

                    <ul class="sub-subcategories-nav list--unstyled" style="display:none;">
                      {%- for grandchild in childlink.links -%}
                        <li>
                          <a href="{{ grandchild.url }}">
                            {{ grandchild.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>

                  {%- else -%}
                    <!-- Catégorie enfant simple -->
                    <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

          {%- else -%}

            <!-- Catégorie sans enfant -->
            <a class="categories-nav__link_main" href="{{ link.url }}">
              {{ link.title }}
            </a>

          {%- endif -%}
        </li>
      {%- endfor -%}

    </ul>
  </div>
</categories-menu>
