<categories-menu id="categories-menu-drawer" class="drawer drawer--from-right laredoute-menu">
  <span class="drawer__overlay"></span>

  <!-- HEADER -->
  <div class="drawer__header drawer__header--shadowed laredoute-header">
    <button type="button" class="drawer__close-button tap-area" data-action="close" title="Close">
      <svg width="14" height="14" viewBox="0 0 14 14">
        <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
      </svg>
    </button>

    <!-- Bouton retour (caché par défaut) -->
    <button type="button" class="menu-back-button" id="menuBackButton">
      ← Retour
    </button>

    <span class="menu-title" id="menuTitle">Catégories</span>
  </div>

  <!-- CONTENU SCROLLABLE -->
  <div class="drawer__content laredoute-content">
    <div class="menu-level is-active" data-level="1">
      <ul class="categories-nav list--unstyled">
        {%- for link in section.settings.menu_categories.links -%}
          <li class="menu-item">
            {%- if link.links != blank -%}
              <button class="menu-link has-children" data-target="level-{{ forloop.index }}">
                <span>
                  {%- render 'processMenuTitle', itemName: link.title -%}
                  {%- render 'processMenuLabel', itemName: link.title -%}
                </span>
                <span class="arrow">›</span>
              </button>

              <!-- Niveau 2 -->
              <div class="menu-level" id="level-{{ forloop.index }}" data-parent="1">
                <ul class="categories-nav list--unstyled">
                  {%- for childlink in link.links -%}
                    <li class="menu-item">
                      {%- if childlink.links != blank -%}
                        <button class="menu-link has-children" data-target="level-{{ forloop.parentloop.index }}-{{ forloop.index }}">
                          <span>
                            {{ childlink.title }}
                          </span>
                          <span class="arrow">›</span>
                        </button>

                        <!-- Niveau 3 -->
                        <div class="menu-level" id="level-{{ forloop.parentloop.index }}-{{ forloop.index }}" data-parent="2">
                          <ul class="categories-nav list--unstyled">
                            {%- for grandchildlink in childlink.links -%}
                              <li class="menu-item">
                                <a href="{{ grandchildlink.url }}" class="menu-link">
                                  {{ grandchildlink.title }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>

                      {%- else -%}
                        <a href="{{ childlink.url }}" class="menu-link">
                          {{ childlink.title }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

            {%- else -%}
              <a href="{{ link.url }}" class="menu-link">
                {%- render 'processMenuTitle', itemName: link.title -%}
                {%- render 'processMenuLabel', itemName: link.title -%}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>

  <div class="drawer__footer drawer__footer--tight drawer__footer--bordered">
    <div class="categories-nav__footer">
      <a class="icon-text" href="/account/login">Account</a>
    </div>
  </div>
</categories-menu>