<div class="ap-productmeta__aside">
    <div class="ap-productmeta__share text--subdued">
      <button is="ap-sharetogglebutton" share-url="{{ product.product.url }}" share-title="{{ product.title }}" class="ap-productmeta__share-label link hidden-tablet-and-up d-none" ap-controlsaria="mobile-share-buttons-{{ section.id }}" ap-expanded-aria="false">Share</button>
        <apollopop-content id="mobile-share-buttons-{{ section.id }}" class="popover hidden-tablet-and-up">
          <span class="popover__overlay"></span>
          <header class="popover__header">
            <span class="popover__title heading h6 d-none">Share</span>
            <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="Close">
              <svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
                <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
              </svg>
            </button>
          </header>
          <div class="mobile-share-buttons">
            <a class="mobile-share-buttons__item mobile-share-buttons__item--facebook" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}{{ product.url | append: share_permalink }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
              <svg fill="none" focusable="false" width="24" height="24" class="icon icon--facebook-share-mobile   " viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1834 21.85L10.1834 12.982H7.2002L7.2002 9.52604H10.1834V6.98204C10.062 5.75969 10.4857 4.54599 11.3415 3.66478C12.1972 2.78357 13.398 2.32449 14.6234 2.41004C15.5143 2.40481 16.4047 2.45289 17.2898 2.55404V5.63804L15.4598 5.63804C14.9879 5.53818 14.4974 5.68116 14.1532 6.01892C13.8089 6.35669 13.6566 6.84437 13.7474 7.31804L13.7474 9.52604L17.1698 9.52604L16.7234 12.982H13.7522V21.85H10.1834Z" fill="#3B5998"></path>
              </svg>Facebook
            </a>

            <a class="mobile-share-buttons__item mobile-share-buttons__item--pinterest" href="https://pinterest.com/pin/create/button/?url={{ product.url }}&media={{ product.featured_image | image_url: width: product.featured_media.width }}&description={{ product.title }}" target="_blank" rel="noopener" aria-label="Pin on Pinterest">
              <svg fill="none" focusable="false" width="24" height="24" class="icon icon--pinterest-share-mobile   " viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7648 2.40138C15.3543 2.34682 17.602 3.80113 18.6595 6.35148C19.0087 7.1931 19.3817 8.74117 19.1015 10.0256C18.9898 10.5384 18.9581 11.0736 18.8069 11.5569C18.4993 12.5394 18.0993 13.4092 17.5694 14.1592C16.8499 15.1782 15.7582 15.8653 14.3872 16.2109C13.1746 16.5164 12.0593 16.059 11.4113 15.5678C11.2048 15.4115 10.9279 15.2073 10.8515 14.9251C10.8417 14.9251 10.8318 14.9251 10.822 14.9251C10.7755 15.4401 10.5782 15.9868 10.4389 16.4561C10.2461 17.1053 10.2086 17.7774 9.96749 18.3849C9.69999 19.0592 9.37509 19.6772 9.02467 20.253C8.84068 20.5549 8.33293 21.5884 7.9639 21.5999C7.92354 21.5224 7.90737 21.4925 7.90493 21.3551C7.7861 21.1659 7.86888 20.8468 7.81652 20.5893C7.73505 20.1883 7.67161 19.466 7.75769 19.0588C7.75769 18.8444 7.75769 18.6296 7.75769 18.4157C7.85257 17.9742 7.84882 17.5217 7.9639 17.0991C8.21425 16.1787 8.35354 15.2038 8.61211 14.2512C8.86057 13.3361 9.08856 12.3352 9.28987 11.4038C9.33529 11.1934 9.07963 10.5886 9.02467 10.3628C8.85134 9.65014 8.9833 8.66239 9.20146 8.12713C9.47618 7.45323 10.2804 6.4241 11.3229 6.68821C12.1607 6.90037 12.694 7.80624 12.413 8.95421C12.1181 10.159 11.7356 11.2383 11.4702 12.4443C11.4019 12.7551 11.5194 13.0852 11.588 13.2714C11.8361 13.9431 12.5882 14.5955 13.5916 14.3432C15.1126 13.9603 15.785 12.5834 16.2435 11.0974C16.3676 10.6955 16.3527 10.3157 16.4498 9.87241C16.6545 8.93705 16.5676 7.54083 16.273 6.81057C15.8008 5.64018 14.9198 4.89011 13.7095 4.48339C13.3756 4.42221 13.0416 4.36103 12.7077 4.29985C12.1486 4.17176 11.0822 4.36412 10.7041 4.48339C9.01386 5.01777 7.96723 5.91043 7.3157 7.51486C7.09393 8.06111 6.97235 8.61484 6.9327 9.38251C6.92276 9.47451 6.91294 9.5665 6.90314 9.6585C7.03364 10.3447 7.04691 10.7994 7.3157 11.3118C7.44838 11.5644 7.76346 11.7634 7.81652 12.0772C7.84781 12.2621 7.71227 12.5412 7.66931 12.6895C7.60427 12.9136 7.62792 13.1702 7.52193 13.3634C7.33028 13.712 6.8084 13.4501 6.57911 13.3018C5.38697 12.5324 4.40437 10.3073 4.95855 8.15795C5.04391 7.82607 5.0481 7.53731 5.16476 7.23932C5.8878 5.39455 6.96659 4.26111 8.5237 3.28922C9.10717 2.9252 9.89394 2.74473 10.6157 2.55456C10.9987 2.50352 11.3818 2.45245 11.7648 2.40138Z" fill="#BD081C"></path>
              </svg>Pinterest
            </a>

            <a class="mobile-share-buttons__item mobile-share-buttons__item--twitter" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}{{ product.url | append: share_permalink }}" target="_blank" rel="noopener" aria-label="Tweet on Twitter">
              <svg fill="none" focusable="false" width="24" height="24" class="icon icon--twitter-share-mobile   " viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.414 4.96068C16.9196 4.93626 17.7211 5.43865 18.4864 6.07724C19.1362 6.02649 19.9806 5.69424 20.478 5.46269C20.6391 5.38182 20.8004 5.30133 20.9616 5.22046C20.6775 5.92312 20.2923 6.47359 19.7004 6.89092C19.5689 6.98361 19.4384 7.10911 19.2736 7.16824C19.2736 7.17091 19.2736 7.17396 19.2736 7.17663C20.1171 7.16863 20.8129 6.82034 21.4737 6.63114C21.4737 6.63417 21.4737 6.63723 21.4737 6.64028C21.1266 7.14535 20.6568 7.65767 20.1556 8.02502C19.9532 8.17227 19.7509 8.31951 19.5486 8.46676C19.5597 9.28425 19.5354 10.0643 19.3684 10.7518C18.3977 14.7465 15.8254 17.4588 11.7534 18.6203C10.2913 19.0377 7.92842 19.2089 6.25322 18.8282C5.42246 18.6394 4.67201 18.4262 3.96773 18.1443C3.57662 17.9875 3.21425 17.8181 2.86766 17.6251C2.75395 17.5614 2.64012 17.4981 2.52626 17.4343C2.90422 17.445 3.34615 17.54 3.76862 17.4778C4.15075 17.4214 4.52554 17.4359 4.87817 17.3653C5.75753 17.1887 6.53832 16.9552 7.21099 16.5947C7.53708 16.42 8.03189 16.2148 8.26361 15.963C7.82698 15.9699 7.43107 15.8772 7.10676 15.7727C5.84923 15.366 5.11723 14.6187 4.64102 13.4961C5.02212 13.5338 6.11978 13.6246 6.37642 13.4266C5.89678 13.4026 5.43547 13.1482 5.10574 12.9589C4.09421 12.3795 3.26926 11.4075 3.27545 9.91215C3.40826 9.96975 3.54108 10.0277 3.67378 10.0853C3.92789 10.1834 4.18618 10.2356 4.48934 10.2932C4.61736 10.3173 4.87337 10.3863 5.02034 10.3363C5.01403 10.3363 5.0077 10.3363 5.00138 10.3363C4.80571 10.1277 4.48682 9.98884 4.29014 9.76491C3.64126 9.02638 3.0331 7.88999 3.41774 6.53614C3.51528 6.19282 3.6701 5.88956 3.83503 5.60993C3.84137 5.61298 3.84768 5.61565 3.85402 5.61871C3.92952 5.76328 4.098 5.86973 4.2049 5.99065C4.53629 6.36678 4.94508 6.70514 5.36174 7.00345C6.7813 8.02007 8.0597 8.64453 10.1129 9.10725C10.6336 9.22437 11.2357 9.31401 11.8578 9.31476C11.6829 8.84899 11.7391 8.09522 11.8767 7.64432C12.2227 6.51058 12.9743 5.69272 14.0768 5.25479C14.3404 5.15026 14.6329 5.07396 14.9397 5.01256C15.0978 4.9954 15.256 4.97823 15.414 4.96068Z" fill="#1DA1F2"></path>
              </svg>Twitter
            </a>

            <a class="mobile-share-buttons__item mobile-share-buttons__item--mail" href="mailto:?&subject=&body={{ product.url }}" aria-label="Share by e-mail">
              <svg fill="none" focusable="false" width="24" height="24" class="icon icon--email-share-mobile   " viewBox="0 0 24 24">
                <path d="M21.9135 2.08691L15.3396 20.8695L11.583 12.4173M21.9135 2.08691L3.13086 8.66083L11.583 12.4173M21.9135 2.08691L11.583 12.4173" stroke="currentColor" stroke-width="2"></path>
              </svg>E-mail
            </a>
          </div>
        </apollopop-content>

        <div class="ap-productmeta__share-button-list hidden-phone">
          <a class="ap-productmeta__share-button-item ap-productmeta__share-button-item--facebook link tap-area" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}{{ product.url | append: share_permalink }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
            <svg focusable="false" width="8" height="14" class="icon icon--facebook   " viewBox="0 0 9 17">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.486 16.2084L2.486 8.81845H0L0 5.93845L2.486 5.93845L2.486 3.81845C2.38483 2.79982 2.73793 1.78841 3.45107 1.05407C4.16421 0.319722 5.16485 -0.0628415 6.186 0.00844868C6.9284 0.00408689 7.67039 0.0441585 8.408 0.128449V2.69845L6.883 2.69845C6.4898 2.61523 6.08104 2.73438 5.79414 3.01585C5.50724 3.29732 5.3803 3.70373 5.456 4.09845L5.456 5.93845H8.308L7.936 8.81845H5.46L5.46 16.2084H2.486Z" fill="currentColor"></path>
            </svg>
          </a>

          <a class="ap-productmeta__share-button-item ap-productmeta__share-button-item--twitter link tap-area" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}{{ product.url | append: share_permalink }}" target="_blank" rel="noopener" aria-label="Tweet on Twitter">
            <svg focusable="false" width="17" height="14" class="icon icon--twitter   " viewBox="0 0 20 16">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.845 2.13398C14.0997 2.11363 14.7676 2.53229 15.4054 3.06445C15.9468 3.02216 16.6505 2.74528 17.065 2.55232C17.1993 2.48493 17.3337 2.41786 17.468 2.35046C17.2312 2.93602 16.9103 3.39474 16.417 3.74251C16.3074 3.81976 16.1987 3.92434 16.0613 3.97362C16.0613 3.97584 16.0613 3.97838 16.0613 3.98061C16.7643 3.97394 17.3441 3.6837 17.8947 3.52603C17.8947 3.52856 17.8947 3.5311 17.8947 3.53365C17.6055 3.95454 17.214 4.38147 16.7963 4.6876C16.6277 4.8103 16.4591 4.93301 16.2905 5.05571C16.2997 5.73696 16.2795 6.38704 16.1404 6.95989C15.3314 10.2888 13.1878 12.5491 9.7945 13.517C8.5761 13.8648 6.60702 14.0075 5.21102 13.6903C4.51872 13.5329 3.89334 13.3552 3.30644 13.1203C2.98052 12.9896 2.67854 12.8485 2.38972 12.6876C2.29496 12.6346 2.2001 12.5818 2.10522 12.5287C2.42018 12.5376 2.78846 12.6168 3.14052 12.5649C3.45896 12.5179 3.77128 12.53 4.06514 12.4712C4.79794 12.324 5.4486 12.1294 6.00916 11.829C6.2809 11.6834 6.69324 11.5124 6.88634 11.3026C6.52248 11.3083 6.19256 11.2311 5.9223 11.144C4.87436 10.8051 4.26436 10.1824 3.86752 9.2468C4.1851 9.27827 5.09982 9.35394 5.31368 9.18894C4.91398 9.16891 4.52956 8.95688 4.25478 8.7992C3.41184 8.31634 2.72438 7.50634 2.72954 6.26021C2.84022 6.30821 2.9509 6.35653 3.06148 6.40453C3.27324 6.48622 3.48848 6.52978 3.74112 6.57778C3.8478 6.59781 4.06114 6.65534 4.18362 6.6137C4.17836 6.6137 4.17308 6.6137 4.16782 6.6137C4.00476 6.43982 3.73902 6.32411 3.57512 6.1375C3.03438 5.52206 2.52758 4.57507 2.84812 3.44686C2.9294 3.16077 3.05842 2.90805 3.19586 2.67502C3.20114 2.67757 3.2064 2.67979 3.21168 2.68234C3.2746 2.80282 3.415 2.89152 3.50408 2.99229C3.78024 3.30573 4.1209 3.5877 4.46812 3.83629C5.65108 4.68347 6.71642 5.20386 8.42738 5.58946C8.86134 5.68706 9.36308 5.76176 9.88146 5.76238C9.73578 5.37424 9.78258 4.7461 9.89726 4.37035C10.1856 3.42557 10.8119 2.74402 11.7307 2.37907C11.9504 2.29197 12.1941 2.22838 12.4498 2.17722C12.5815 2.16291 12.7133 2.14861 12.845 2.13398Z" fill="currentColor"></path>
            </svg>
          </a>

          <a class="ap-productmeta__share-button-item ap-productmeta__share-button-item--pinterest link tap-area" href="https://pinterest.com/pin/create/button/?url={{ product.url }}&media={{ product.featured_image | image_url: width: product.featured_media.width }}&description={{ product.title }}" target="_blank" rel="noopener" aria-label="Pin on Pinterest">
            <svg focusable="false" width="10" height="14" class="icon icon--pinterest   " viewBox="0 0 12 16">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.8042 0.00123531C8.79537 -0.0442356 10.6685 1.16769 11.5498 3.29299C11.8407 3.99433 12.1516 5.28439 11.9181 6.35474C11.825 6.78208 11.7985 7.22812 11.6726 7.63086C11.4163 8.4496 11.0829 9.17441 10.6413 9.79945C10.0418 10.6486 9.13196 11.2212 7.98951 11.5091C6.97899 11.7637 6.04959 11.3826 5.50954 10.9732C5.33747 10.843 5.10674 10.6728 5.04304 10.4377C5.03488 10.4377 5.0267 10.4377 5.01853 10.4377C4.97972 10.8669 4.81532 11.3224 4.69924 11.7135C4.53858 12.2545 4.50733 12.8146 4.3064 13.3208C4.08349 13.8828 3.81274 14.3978 3.52072 14.8776C3.36739 15.1292 2.94427 15.9904 2.63675 16C2.60311 15.9354 2.58964 15.9105 2.58761 15.796C2.48858 15.6383 2.55757 15.3724 2.51393 15.1578C2.44604 14.8236 2.39317 14.2217 2.46491 13.8824C2.46491 13.7038 2.46491 13.5248 2.46491 13.3465C2.54397 12.9786 2.54085 12.6015 2.63675 12.2494C2.84537 11.4824 2.96145 10.6699 3.17692 9.87611C3.38398 9.11352 3.57396 8.27939 3.74172 7.50321C3.77957 7.32789 3.56652 6.82389 3.52072 6.63572C3.37628 6.04186 3.48624 5.21874 3.66805 4.77269C3.89698 4.21111 4.56717 3.3535 5.43589 3.57359C6.13407 3.75039 6.57846 4.50528 6.34437 5.46192C6.09862 6.46589 5.7798 7.3653 5.5587 8.37035C5.50173 8.62933 5.59968 8.90442 5.65687 9.05958C5.86357 9.61934 6.49037 10.163 7.32652 9.95278C8.59396 9.63365 9.15431 8.48627 9.53645 7.24791C9.63981 6.91302 9.62743 6.59647 9.70831 6.22709C9.87894 5.44763 9.80648 4.28411 9.56098 3.67556C9.16753 2.70023 8.43329 2.07518 7.42471 1.73624C7.1465 1.68526 6.86819 1.63427 6.58988 1.58329C6.12397 1.47655 5.23532 1.63685 4.92023 1.73624C3.51171 2.18156 2.63952 2.92544 2.09658 4.26247C1.91177 4.71767 1.81046 5.17911 1.77741 5.81884C1.76913 5.8955 1.76094 5.97217 1.75278 6.04883C1.86153 6.62068 1.87259 6.99959 2.09658 7.42657C2.20715 7.63711 2.46971 7.8029 2.51393 8.06444C2.54001 8.2185 2.42705 8.45105 2.39125 8.57467C2.33705 8.76137 2.35676 8.97522 2.26844 9.13625C2.10873 9.42678 1.67383 9.20852 1.48275 9.08491C0.489307 8.44373 -0.329526 6.5895 0.132284 4.79837C0.20342 4.5218 0.206915 4.28118 0.304126 4.03285C0.906661 2.49554 1.80565 1.55101 3.10325 0.741098C3.58947 0.437749 4.24511 0.287354 4.84657 0.128885C5.16574 0.0863481 5.48503 0.0437917 5.8042 0.00123531Z" fill="currentColor"></path>
            </svg>
          </a>

          <a class="ap-productmeta__share-button-item ap-productmeta__share-button-item--linkedin link tap-area" href="//linkedin.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}{{ product.url | append: share_permalink }}" target="_blank" rel="noopener" aria-label="Tweet on linkedin">
            <svg class="icon icon--linkedin" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" fill="currentColor"/>
            </svg>
          </a>

          <a class="ap-productmeta__share-button-item ap-productmeta__share-button-item--mail link tap-area d-none" href="mailto:?&subject={{ product.title }}&body={{ product.url }}" aria-label="Share by e-mail">
            <svg focusable="false" width="13" height="13" class="icon icon--share   " viewBox="0 0 18 18">
              <path d="M17 1l-5.6 16-3.2-7.2M17 1L1 6.6l7.2 3.2M17 1L8.2 9.8" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
      <button is="toggle-button" class="ap-productmeta__help link text--subdued hidden-phone d-none" ap-controlsaria="product-{{ section.id }}-help-drawer" ap-expanded-aria="false">Need help?</button>
    </div>

    <ap-drawercontent id="product-{{ section.id }}-help-drawer" class="drawer drawer--large hidden-phone">
      <span class="drawer__overlay"></span>
      <header class="drawer__header">
        <p class="drawer__title heading h6">Help</p>

        <button type="button" class="drawer__close-button tap-area" data-action="close" title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
          <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
        </svg>
      </button>
      </header>

    <div class="drawer__content drawer__content--padded-start">
      <div class="rte">
        <p>If you have any questions, you are always welcome to contact us. We'll get back to you as soon as possible, withing 24 hours on weekdays.</p>
        <h6>Customer service</h6>
        <p>All questions about your order, return and delivery must be sent to our customer service team by e-mail at <a href="mailto:yourstore@yourdomain.com">yourstore@yourdomain.com</a></p>
        <h6>Sale &amp; Press</h6>
        <p>If you are interested in selling our products, need more information about our brand or wish to make a collaboration, please contact us at <a href="mailto:press@yourdomain.com">press@yourdomain.com</a></p></div>
    </div>
  </ap-drawercontent>
  <apollopop-content id="product-{{ section.id }}-help-popover" class="popover hidden-lap-and-up" hidden="">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <p class="popover__title heading h6">Help</p>
      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   " viewBox="0 0 14 14">
          <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none"></path>
        </svg>
      </button>
    </header>

    <div class="popover__content">
      <div class="rte"><p>If you have any questions, you are always welcome to contact us. We'll get back to you as soon as possible, withing 24 hours on weekdays.</p>
        <h6>Customer service</h6>
        <p>All questions about your order, return and delivery must be sent to our customer service team by e-mail at <a href="mailto:yourstore@yourdomain.com">yourstore@yourdomain.com</a></p>
        <h6>Sale &amp; Press</h6>
        <p>If you are interested in selling our products, need more information about our brand or wish to make a collaboration, please contact us at <a href="mailto:press@yourdomain.com">press@yourdomain.com</a></p></div>
    </div>
  </apollopop-content>

  </div>