{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% assign number_block = section.blocks | size %}
{% if number_block > 0 %}
<style>
  :root {
    --enable-sticky-ap-announcementbar: {% if section.settings.enable_sticky %}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    --heading-color: {{ section.settings.heading_color | color_extract: 'red' }}, {{ section.settings.heading_color | color_extract: 'green' }}, {{ section.settings.heading_color | color_extract: 'blue' }};
    --color-body: {{ section.settings.text_color | color_extract: 'red' }}, {{ section.settings.text_color | color_extract: 'green' }}, {{ section.settings.text_color | color_extract: 'blue' }};
    --primary-button-background: {{ section.settings.button_background | color_extract: 'red' }}, {{ section.settings.button_background | color_extract: 'green' }}, {{ section.settings.button_background | color_extract: 'blue' }};
    --primary-button-text-color: {{ section.settings.button_text_color | color_extract: 'red' }}, {{ section.settings.button_text_color | color_extract: 'green' }}, {{ section.settings.button_text_color | color_extract: 'blue' }};
    --section-background: {{ section.settings.background | color_extract: 'red' }}, {{ section.settings.background | color_extract: 'green' }}, {{ section.settings.background | color_extract: 'blue' }};
    z-index: {{ section.settings.z_index }};
    position: relative;
    top: {{ section.settings.top }};
    background-color: {{ section.settings.background }};
    z-index: 5;
  }

  .ap-announcementbar__message a:hover {
    color: var(--primary_hover);
  }

  .ap-announcementbar__message a:before {
    content: '';
    padding-left: 10px;
  }

  .ap-announcementbar .header__icon-wrapper {
    color: currentColor;
  }

  /* SOCIAL */
  .announcement-social {
    display: flex;
    align-items: center;
  }
  .announcement-social.text-right {
    justify-content: end;
  }
  .announcement-social.text-center {
    justify-content: center;
  }
  .announcement-social svg {
    width: 16px;
    height: 16px;
  }
  .announcement-social .social-media__item--pinterest svg ,
  .announcement-social .social-media__item--youtube svg {
    width: 20px;
    height: 20px;
  }
  .announcement__item-content {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid {{ section.settings.border_color }};
  }

  .ap-announcementbar .btn-prev ,
  .ap-announcementbar .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
  }
  .ap-announcementbar .btn-prev svg , 
  .ap-announcementbar .btn-next svg {
    width: 9px;
    height: 14px;
  }
  .ap-announcementbar .btn-prev {
    left: 15px;
  }
  .ap-announcementbar .btn-next {
    right: 15px;
  }

  @media (min-width: 768px) {
    .announcement-contact-list ul li:not(:last-child) {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid {{ section.settings.border_color }};
    }
  }
  @media (min-width: 992px) {
    .ap-announcementbar .btn-prev {
      left: {{ section.settings.location_btn }}%;
    }
    .ap-announcementbar .btn-next {
      right: {{ section.settings.location_btn }}%;
    }
  }
  @media screen and (min-width: 741px) {
    :root {
      --enable-sticky-ap-announcementbar: {% if section.settings.enable_sticky %}1{% else %}0{% endif %};
    }
    #shopify-section-{{ section.id }} {position: relative;}
  }
  @media (max-width: 480px) {
    .ap-announcementbar__message .link {
      display: none;
    }   
    .announcement__item-content {
      margin-right: 10px;
      padding-right: 10px;
    }
  }
</style>

<section>
    <ap-announcementbar {% if section.settings.show_btn %}auto-play=""{% endif %} cycle-speed="5" class="ap-announcementbar ap-announcementbar--multiple {% if section.settings.transparent %} announcement-transparent{% endif %}">

    <div class="{%- if section.settings.fullwidth -%}container-fluid{%- else -%}container{%- endif -%} {% if section.settings.show_btn %} position-relative{% endif %}">
      {% if section.settings.show_btn %}
      <button data-action="prev" class="tap-area tap-area--large btn-prev d-sm-block d-none">
          <span class="visually-hidden">Previous</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path d="M0.535156 6.28516C0.279948 6.59505 0.279948 6.90495 0.535156 7.21484L5.78516 12.4648C6.09505 12.7201 6.40495 12.7201 6.71484 12.4648C6.97005 12.1549 6.97005 11.8451 6.71484 11.5352L1.92969 6.75L6.71484 1.96484C6.97005 1.65495 6.97005 1.34505 6.71484 1.03516C6.40495 0.779948 6.09505 0.779948 5.78516 1.03516L0.535156 6.28516Z" fill="currentColor"/>
          </svg>
      </button>
      {% endif %}

      <div class="row announcement-row align-items-center">

          {%- for block in section.blocks -%}
            {%- case block.settings.width -%}
            {%- when '20%' -%}
            {%- assign block_width = 'col-xl-20 col-lg-4 col-md-4 col-12' -%}
            {%- when '25%' -%}
            {%- assign block_width = 'col-xl-3 col-md-6 col-12' -%}
            {%- when '33%' -%}
            {%- assign block_width = 'col-xl-4 col-md-4 col-12' -%}
            {%- when '50%' -%}
            {%- assign block_width = 'col-xl-6 col-md-6 col-12' -%}
            {%- when '66%' -%}
            {%- assign block_width = 'col-xl-8 col-md-6 col-12' -%}
            {%- when '75%' -%}
            {%- assign block_width = 'col-xl-9 col-md-6 col-12' -%}
            {%- when '80%' -%}
            {%- assign block_width = 'col-lg-80 col-md-8 col-sm-6 col-12' -%}
            {%- when '100%' -%}
            {%- assign block_width = 'col-12' -%}
            {%- endcase -%}
        
              {%- case block.type -%}
  
                {%- when 'announcement' -%}
                  <ap-announcementbar-item {% if forloop.first %} show="" {% else %}hidden="" {% endif %} has-content="" class="ap-announcementbar__item text-{{ block.settings.text_align }} {{ block_width }}">
                    <div class="ap-announcementbar__message fs-d2">
                      {{ block.settings.text | escape }}
                      {% if block.settings.view_more != blank %}
                      <a class="fw-bold" href="{{ block.settings.link_view }}" class="link" data-action="open-content">{{
                        block.settings.view_more | escape }}</a>
                      {% endif %}
                    </div>
                    <div class="ap-announcementbar__content has-image" hidden="">
                      <div class="ap-announcementbar__content-overlay"></div>
                      <div class="ap-announcementbar__content-overflow">
                        <div class="ap-announcementbar__content-inner">
                          <button type="button" class="announcement-bar__close-button tap-area"
                            data-action="close-content">
                            <span class="visually-hidden">Close</span>
                            <svg focusable="false" width="14" height="14" class="icon icon--close   "
                              viewBox="0 0 14 14">
                              <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" fill="none">
                              </path>        
                            </svg>
                          </button>
                          <img class="ap-announcementbar__content-image" loading="lazy" sizes="50vw" alt=""
                            loading="lazy" src="{{ block.settings.image | image_url: width: 1400 }}"
                            data-srcset="{{ block.settings.image | image_url: width: 400 }} 400w, {{ block.settings.image | image_url: width: 500 }} 500w, {{ block.settings.image | image_url: width: 600 }} 600w, {{ block.settings.image | image_url: width: 700 }} 700w, {{ block.settings.image | image_url: width: 800 }} 800w, {{ block.settings.image | image_url: width: 900 }} 900w, {{ block.settings.image | image_url: width: 1000 }} 1000w, {{ block.settings.image | image_url: width: 1200 }} 1200w, {{ block.settings.image | image_url: width: 1400 }} 1400w"
                            width="1400" height="800">
                          <div class="ap-announcementbar__content-text-wrapper">
                            <div class="ap-announcementbar__content-text text-container">
                              <h3 class="heading {{ block.settings.heading_text_size | escape }}">{{
                                block.settings.heading_text | escape }}</h3>
                              <p>{{ block.settings.description | escape }}</p>
                              <div class="button-wrapper">
                                <a href="{{ block.settings.link | escape }}" class="button button--primary">{{
                                  block.settings.read_more | escape }}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ap-announcementbar-item>
  
                {%- when 'announcement-social' -%}
                  <div class="announcement-social text-{{ block.settings.text_align }}">
                    {% liquid
                      assign _show_social = false
                      if block.settings.social_facebook != blank
                        assign _show_social = true
                      endif
                      if block.settings.social_twitter != blank
                        assign _show_social = true
                      endif
                      if block.settings.social_instagram != blank
                        assign _show_social = true
                      endif
                      if block.settings.social_pinterest != blank
                        assign _show_social = true
                      endif
                      if block.settings.social_youtube != blank
                        assign _show_social = true
                      endif
                      if block.settings.social_linkedin != blank
                        assign _show_social = true
                      endif
                    %}
                    {%- if _show_social == true -%}
                      <div class="announcement__item-content">
                        <div class="announcement-social_title">
                          {{ block.settings.title }}
                        </div>
                        <ul class="social-media social-media--no-radius list--unstyled" role="list">
                          {%- if block.settings.social_facebook != blank -%}
                            <li class="social-media__item social-media__item--facebook">
                              <a href="{{ block.settings.social_facebook }}" target="_blank" rel="noopener" class="social-media__link" aria-label="Follow us on Facebook"><svg focusable="false" width="9" height="17" class="icon icon--facebook   " viewBox="0 0 9 17">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.486 16.2084L2.486 8.81845H0L0 5.93845L2.486 5.93845L2.486 3.81845C2.38483 2.79982 2.73793 1.78841 3.45107 1.05407C4.16421 0.319722 5.16485 -0.0628415 6.186 0.00844868C6.9284 0.00408689 7.67039 0.0441585 8.408 0.128449V2.69845L6.883 2.69845C6.4898 2.61523 6.08104 2.73438 5.79414 3.01585C5.50724 3.29732 5.3803 3.70373 5.456 4.09845L5.456 5.93845H8.308L7.936 8.81845H5.46L5.46 16.2084H2.486Z" fill="currentColor"></path>
                                </svg>
                                <span class="text-social">{{ 'general.social.links.facebook' | t }}</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- if block.settings.social_twitter != blank -%}
                            <li class="social-media__item social-media__item--twitter">
                              <a href="{{ block.settings.social_twitter }}" target="_blank" rel="noopener" class="social-media__link" aria-label="Follow us on twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                  <path d="M9.4893 6.77491L15.3176 0H13.9365L8.87577 5.88256L4.8338 0H0.171875L6.28412 8.89547L0.171875 16H1.55307L6.8973 9.78782L11.1659 16H15.8278L9.48896 6.77491H9.4893ZM7.59756 8.97384L6.97826 8.08805L2.05073 1.03974H4.17217L8.14874 6.72795L8.76804 7.61374L13.9371 15.0075H11.8157L7.59756 8.97418V8.97384Z" fill="currentColor"/>
                                </svg>
                                <span class="text-social">{{ 'general.social.links.twitter' | t }}</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- if block.settings.social_instagram != blank -%}
                            <li class="social-media__item social-media__item--instagram">
                              <a href="{{ block.settings.social_instagram }}" target="_blank" rel="noopener" class="social-media__link" aria-label="Follow us on Instagram">
                                <svg focusable="false" width="16" height="16" class="icon icon--instagram   " viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C5.827 0 5.555.01 4.702.048 3.85.087 3.269.222 2.76.42a3.921 3.921 0 00-1.417.923c-.445.444-.719.89-.923 1.417-.198.509-.333 1.09-.372 1.942C.01 5.555 0 5.827 0 8s.01 2.445.048 3.298c.039.852.174 1.433.372 1.942.204.526.478.973.923 1.417.444.445.89.719 1.417.923.509.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.445-.01 3.298-.048c.852-.039 1.433-.174 1.942-.372a3.922 3.922 0 001.417-.923c.445-.444.719-.89.923-1.417.198-.509.333-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.298c-.039-.852-.174-1.433-.372-1.942a3.922 3.922 0 00-.923-1.417A3.921 3.921 0 0013.24.42c-.509-.198-1.09-.333-1.942-.372C10.445.01 10.173 0 8 0zm0 1.441c2.136 0 2.39.009 3.233.047.78.036 1.203.166 1.485.276.374.145.64.318.92.598.28.28.453.546.598.92.11.282.24.705.276 1.485.038.844.047 1.097.047 3.233s-.009 2.39-.047 3.233c-.036.78-.166 1.203-.276 1.485-.145.374-.318.64-.598.92-.28.28-.546.453-.92.598-.282.11-.705.24-1.485.276-.844.038-1.097.047-3.233.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.479 2.479 0 01-.92-.598 2.478 2.478 0 01-.598-.92c-.11-.282-.24-.705-.276-1.485-.038-.844-.047-1.097-.047-3.233s.009-2.39.047-3.233c.036-.78.166-1.203.276-1.485.145-.374.318-.64.598-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.844-.038 1.097-.047 3.233-.047zm0 9.226a2.667 2.667 0 110-5.334 2.667 2.667 0 010 5.334zm0-6.775a4.108 4.108 0 100 8.216 4.108 4.108 0 000-8.216zm5.23-.162a.96.96 0 11-1.92 0 .96.96 0 011.92 0z" fill="currentColor"></path>
                                </svg>
                                <span class="text-social">{{ 'general.social.links.instagram' | t }}</span>
                              </a>
                            </li>
                          {%- endif -%}   
                          {%- if block.settings.social_pinterest != blank -%}
                            <li class="social-media__item social-media__item--pinterest">
                              <a href="{{ block.settings.social_pinterest }}" target="_blank" rel="noopener" class="social-media__link" aria-label="Follow us on Pinterest">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                  <path d="M5.6587 12.7947C5.6747 12.5707 5.7067 12.3473 5.7547 12.1273C5.7967 11.9307 5.92403 11.374 6.1107 10.5673L6.11537 10.5473L6.37336 9.43532C6.42603 9.20865 6.4667 9.03265 6.49403 8.97398C6.36458 8.6747 6.30005 8.35137 6.3047 8.02532C6.3047 7.13398 6.8087 6.44332 7.46203 6.44332C7.70203 6.43932 7.93137 6.54332 8.09003 6.72732C8.2487 6.91065 8.32203 7.15665 8.29136 7.39132C8.29136 7.69332 8.2347 7.92332 7.98936 8.74798C7.94203 8.90665 7.90936 9.01732 7.8787 9.12865C7.8447 9.25398 7.81536 9.36732 7.7907 9.47665C7.7267 9.73398 7.78536 10.008 7.9487 10.214C8.02797 10.3147 8.13026 10.3948 8.24698 10.4477C8.36369 10.5006 8.4914 10.5247 8.61936 10.518C9.61403 10.518 10.3527 9.19465 10.3527 7.48598C10.3527 6.17265 9.4927 5.30332 8.0647 5.30332C7.70723 5.29003 7.35089 5.35107 7.01822 5.48258C6.68555 5.61408 6.38379 5.81319 6.13203 6.06732C5.87487 6.32701 5.67199 6.6353 5.53521 6.97421C5.39843 7.31313 5.3305 7.67588 5.33536 8.04132C5.31879 8.43515 5.43944 8.82253 5.6767 9.13732C5.79736 9.23065 5.84337 9.39265 5.79337 9.53065C5.76603 9.64265 5.70003 9.89865 5.67603 9.98398C5.66907 10.0259 5.65244 10.0656 5.62744 10.1C5.60244 10.1344 5.56977 10.1624 5.53203 10.182C5.49553 10.201 5.45502 10.2111 5.41386 10.2113C5.3727 10.2115 5.33207 10.2019 5.29536 10.1833C4.52203 9.86399 4.09803 8.99798 4.09803 7.88998C4.09803 5.89998 5.7587 4.16732 8.22603 4.16732C10.316 4.16732 11.88 5.71998 11.88 7.59398C11.88 9.94865 10.592 11.6633 8.75336 11.6633C8.49184 11.6709 8.23219 11.617 7.99528 11.506C7.75838 11.3949 7.55085 11.2298 7.38937 11.024L7.3607 11.142L7.2227 11.71L7.22136 11.7147C7.12403 12.1147 7.05603 12.3927 7.02936 12.4973C6.9587 12.734 6.86936 12.966 6.7627 13.1907C8.08929 13.5065 9.48645 13.3021 10.667 12.6196C11.8476 11.9372 12.7219 10.8284 13.1103 9.52118C13.4987 8.21399 13.3715 6.80769 12.7551 5.59132C12.1386 4.37496 11.0797 3.44092 9.79584 2.98119C8.51201 2.52147 7.10085 2.57097 5.85239 3.11952C4.60393 3.66808 3.61301 4.67402 3.0833 5.93059C2.5536 7.18717 2.52534 8.59891 3.00433 9.87568C3.48333 11.1524 4.43319 12.1972 5.6587 12.7953V12.7947ZM7.9987 14.6673C4.3167 14.6673 1.33203 11.6827 1.33203 8.00065C1.33203 4.31865 4.3167 1.33398 7.9987 1.33398C11.6807 1.33398 14.6654 4.31865 14.6654 8.00065C14.6654 11.6827 11.6807 14.6673 7.9987 14.6673Z" fill="currentColor"/>
                                </svg>
                                <span class="text-social">{{ 'general.social.links.pinterest' | t }}</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- if block.settings.social_youtube != blank -%}
                            <li class="social-media__item social-media__item--youtube">
                              <a href="{{ block.settings.social_youtube }}" target="_blank" rel="noopener" class="social-media__link" aria-label="Follow us on YouTube">
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                  <g clip-path="url(#clip0_45_908)">
                                  <path d="M13.0694 4.85623C13.0187 4.64928 12.8747 4.49303 12.71 4.44512C12.4187 4.3597 10.9987 4.16526 7.9987 4.16526C4.9987 4.16526 3.58003 4.3597 3.28603 4.44512C3.12336 4.49234 2.97936 4.64859 2.92803 4.85623C2.85536 5.15067 2.66536 6.3847 2.66536 8.33192C2.66536 10.2791 2.85536 11.5125 2.92803 11.8083C2.9787 12.0146 3.1227 12.1708 3.2867 12.218C3.58003 12.3041 4.9987 12.4986 7.9987 12.4986C10.9987 12.4986 12.418 12.3041 12.7114 12.2187C12.874 12.1715 13.018 12.0153 13.0694 11.8076C13.142 11.5132 13.332 10.2764 13.332 8.33192C13.332 6.38748 13.142 5.15137 13.0694 4.85623ZM14.3607 4.51109C14.6654 5.74859 14.6654 8.33192 14.6654 8.33192C14.6654 8.33192 14.6654 10.9153 14.3607 12.1528C14.1914 12.8368 13.696 13.375 13.0687 13.5569C11.9294 13.8875 7.9987 13.8875 7.9987 13.8875C7.9987 13.8875 4.07003 13.8875 2.9287 13.5569C2.2987 13.3722 1.80403 12.8347 1.6367 12.1528C1.33203 10.9153 1.33203 8.33192 1.33203 8.33192C1.33203 8.33192 1.33203 5.74859 1.6367 4.51109C1.80603 3.82706 2.30136 3.28887 2.9287 3.10692C4.07003 2.77637 7.9987 2.77637 7.9987 2.77637C7.9987 2.77637 11.9294 2.77637 13.0687 3.10692C13.6987 3.29164 14.1934 3.82915 14.3607 4.51109ZM6.66536 10.7625V5.90137L10.6654 8.33192L6.66536 10.7625Z" fill="currentColor"/>
                                  </g>
                                  <defs>
                                  <clipPath id="clip0_45_908">
                                  <rect width="16" height="16.6667" fill="white"/>
                                  </clipPath>
                                  </defs>
                                </svg>
                                <span class="text-social">{{ 'general.social.links.youtube' | t }}</span>
                              </a>
                            </li>
                          {%- endif -%}
                          {%- if block.settings.social_linkedin != blank -%}
                            <li class="social-media__item social-media__item--linkedin">
                              <a href="{{ block.settings.social_linkedin }}" target="_blank" rel="noopener" class="social-media__link" aria-label="Follow us on LinkedIn"><svg fill="none" focusable="false" width="13" height="13" class="icon icon--linkedin   " viewBox="0 0 13 13">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.12412 1.56485C3.12412 0.70105 2.42432 0 1.56256 0C0.697275 0 0 0.70105 0 1.56485C0 2.42916 0.697275 3.13021 1.56256 3.13021C2.42432 3.13021 3.12412 2.42916 3.12412 1.56485ZM2.91019 13H0.213925V4.31649H2.91019V13ZM7.18264 4.31648H4.6004V13H7.29112V8.70525C7.29112 7.57205 7.50505 6.47473 8.90666 6.47473C10.2891 6.47473 10.3068 7.77018 10.3068 8.77702V13H13V8.23771C13 5.89903 12.496 4.10117 9.76892 4.10117C8.45812 4.10117 7.57871 4.82092 7.21948 5.50377H7.18264V4.31648Z" fill="currentColor"></path>
                                </svg>
                                <span class="text-social">{{ 'general.social.links.linkedin' | t }}</span>
                              </a>
                            </li>
                          {%- endif -%}
                        </ul>
                      </div>
                    {%- endif -%}
                    {% if block.settings.show_user %}
                      <div class="header-icon header__icon-list">
                        <div class="header__icon-wrapper tap-area wrapper-user">
                          {% render 'header-user' %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
  
                {%- when 'announcement-language' -%}
                  <div style="gap: 20px;" class="d-flex align-items-center justify-content-md-{{ block.settings.text_align }} justify-content-center {{ block_width }}">
                    <div class="announcement-language">
                      {% render "localization" %}
                    </div>
                    <div class="announcement-currency">
                      {% render 'localization-currency', id: 'HeaderCountryForm' %}
                    </div>
                  </div>
  
                {%- when 'announcement-link' -%}
                  {%- if block.settings.menu != blank -%}
                  <ul class="announcemnt-menu text-{{ block.settings.text_align }} {{ block_width }}" role="list">
                    {%- for link in block.settings.menu.links -%}
                    <li class="announcemnt-menu__item">
                      <a href="{{ link.url }}" class="announcemnt-menu__link">{{ link.title | escape }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
  
                {%- when 'announcement-contact' -%}
                  <div class="announcement-contact text-{{ block.settings.text_align }} {{ block_width }}">
                    <div class="announcement-contact-list">
                      <ul>
                        {% if block.settings.announcement_text != blank %}
                        <li>
                          <a class="content-link-1 fw-bold" href="{{ block.settings.btn_link_1 | default: '#' }}">
                              {{ block.settings.announcement_text }}
                          </a>
                        </li>
                        {% endif %}
                        {% if block.settings.announcement_text_2 != blank %}
                        <li>
                          <a class="content-link-2 fw-medium" href="{{ block.settings.btn_link_2 | default: '#' }}">
                              {{ block.settings.announcement_text_2 }}
                          </a>
                        </li>
                        {% endif %}
                        {% if block.settings.announcement_text_3 != blank %}
                        <li>
                          <a class="content-link-3" href="{{ block.settings.btn_link_3 | default: '#' }}">
                              {{ block.settings.announcement_text_3 }}
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
  
              {%- endcase -%}

          {%- endfor -%}
        
      </div>

      {% if section.settings.show_btn %}
      <button data-action="next" class="tap-area tap-area--large btn-next d-sm-block d-none">
          <span class="visually-hidden">Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path d="M7.46484 6.28516C7.72005 6.59505 7.72005 6.90495 7.46484 7.21484L2.21484 12.4648C1.90495 12.7201 1.59505 12.7201 1.28516 12.4648C1.02995 12.1549 1.02995 11.8451 1.28516 11.5352L6.07031 6.75L1.28516 1.96484C1.02995 1.65495 1.02995 1.34505 1.28516 1.03516C1.59505 0.779948 1.90495 0.779948 2.21484 1.03516L7.46484 6.28516Z" fill="currentColor"/>
          </svg>
      </button>
      {% endif %}
    </div>

    </ap-announcementbar>
</section>

{% endif %}

{% schema %}
{
  "name": "t:sections.ap-announcementbar.name",
  "class": "shopify-section--ap-announcementbar",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "fullwidth",
      "default": false,
      "label": "t:sections.ap-announcementbar.settings.fullwidth.label"
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "default": false,
      "label": "Show Transparent"
    },
    {
      "type": "checkbox",
      "id": "show_btn",
      "default": false,
      "label": "t:sections.ap-announcementbar.settings.show_btn.label"
    },
    {
      "type": "text",
      "id": "location_btn",
      "default": "0",
      "label": "Location button"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.ap-announcementbar.settings.heading_color.label",
      "default": "#404040"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.ap-announcementbar.settings.text_color.label",
      "default": "#626262"
    },
    {
      "type": "color",
      "id": "background",
      "label": "t:sections.ap-announcementbar.settings.background.label",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#DCDDE3"
    },
    {
      "type": "text",
      "id": "z_index",
      "label": "t:sections.ap-announcementbar.settings.z_index.label",
      "default": "4"
    },
    {
      "type": "text",
      "id": "top",
      "label": "t:sections.ap-announcementbar.settings.top.label",
      "default": "0"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.ap-announcementbar.blocks.announcement.name",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "66%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text align"
        },
        {
          "type": "text",
          "id": "text",
          "default": "FREE Delivery Over $100 All Products",
          "label": "t:sections.ap-announcementbar.blocks.announcement.settings.text.label"
        },
        {
          "type": "text",
          "id": "view_more",
          "label": "t:sections.ap-announcementbar.blocks.announcement.settings.view_more.label",
          "default": "View more"
        },
        {
          "type": "url",
          "id": "link_view",
          "label": "t:sections.ap-announcementbar.blocks.announcement.settings.link_view.label"
        }
      ]
    },
    {
      "type": "announcement-social",
      "name": "Announcement Social",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "66%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text align"
        },
        {
          "type": "header",
          "content": "Social"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Follow us:"
        },
        {
          "type": "text",
          "id": "social_facebook",
          "label": "t:sections.all.social_facebook.label"
        },
        {
          "type": "text",
          "id": "social_twitter",
          "label": "Twitter"
        },
        {
          "type": "text",
          "id": "social_instagram",
          "label": "t:sections.all.social_instagram.label"
        },
        {
          "type": "text",
          "id": "social_pinterest",
          "label": "t:sections.all.social_pinterest.label"
        },
        {
          "type": "text",
          "id": "social_youtube",
          "label": "t:sections.all.social_youtube.label"
        },
        {
          "type": "text",
          "id": "social_linkedin",
          "label": "t:sections.all.social_linkedin.label"
        },
        {
          "type": "header",
          "content": "User Header"
        },
        {
          "type": "checkbox",
          "id": "show_user",
          "default": true,
          "label": "Show User"
        }
      ]
    },
    {
      "type": "announcement-language",
      "name": "Announcement Language",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "66%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "start",
              "label": "Start"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "End"
            }
          ],
          "default": "start",
          "label": "Text align"
        }
      ]
    },
    {
      "type": "announcement-link",
      "name": "Announcement Link",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "66%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text align"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu announcement"
        }
      ]
    },
    {
      "type": "announcement-contact",
      "name": "Announcement Contact",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "66%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Text align"
        },
        {
          "type": "liquid",
          "id": "announcement_text",
          "label": "Announcement text",
          "default": "Need virtual style advice? / "
        },
        {
          "type": "url",
          "id": "btn_link_1",
          "label": "Announcement link"
        },
        {
          "type": "liquid",
          "id": "announcement_text_2",
          "label": "Announcement text 2",
          "default": "HELP CENTRE"
        },
        {
          "type": "url",
          "id": "btn_link_2",
          "label": "Announcement link 2"
        },
        {
          "type": "liquid",
          "id": "announcement_text_3",
          "label": "Announcement text 3",
          "default": "HELP CENTRE"
        },
        {
          "type": "url",
          "id": "btn_link_3",
          "label": "Announcement link 3"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
