{% render 'section-style' %}

<style>
{% if section.settings.nowrap %}
  #shopify-section-{{ section.id }} .swiper-container {
    overflow: visible;
    clip-path: unset;
  }
{% endif %}

.ap-categories__box {
    display: flex;
    align-items: start;
    border: 1px solid rgb(var(--border-color));
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.ap-categories__image {
    margin: -26px 10px 0;
    transition: all .4s;
    width: {{ section.settings.img_size }}px;
}
.ap-categories__box:hover .ap-categories__image {
    transform: translateY(-30px);
}
.ap-categories__text {
  flex: 1;
  padding: 11px 10px 26px 0;
}
#shopify-section-{{ section.id }} h2.heading.p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.categories__item-menu a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: {{ section.settings.color_link }};
}
.categories__item-menu a:hover {
    color: var(--primary);
}
.section-{{ section.id }} .section__header {
    margin-bottom: 66px !important;
}
@media (min-width: 480px) {
  .ap-categories__image {
    margin: -26px 30px 0;
  }
  .ap-categories__text {
    padding:11px 15px 26px 0;
  }
}
</style>

<section class="section-{{ section.id }}">
    <div class="{{ section.settings.setwidthout }}">
        {% render 'section-heading' %}

        <!-- Swiper -->
        <div data-swiper-id="{{ section.id }}" class="ap-swiper mySwiper swiper-container" data-swiper='{
            "spaceBetween": 15,
            "slidesPerView": 1,
            "breakpoints":{
              "576": {
                  "slidesPerView": 1,
                  "spaceBetween": 15
              },
              "768":{
                  "slidesPerView": 2,
                  "spaceBetween": {{ section.settings.spaceBetween }}
              },
              "1200":{
                  "slidesPerView": {{ section.settings.perviewDesktop }},
                  "spaceBetween": {{ section.settings.spaceBetween }}
              }
            }
        }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}  
                    <div id="block-{{ block.id }}" class="swiper-slide">

                        <div style="background-color: {{ block.settings.bg_content }};" class="ap-categories__box">
                            <div class="ap-categories__image">
                                {% if block.settings.image != blank %}
                                    <img loading="lazy" sizes="(max-width: 740px) 25vw, (max-width: 999px) 20vw, 155px" 
                                    class="" alt="" src="{{ block.settings.image | image_url: width: block.settings.image.width }}" 
                                    data-srcset=" {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%} {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%} {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%} {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%} {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | image_url: width: 940 }} 940w,{%- endif -%} {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%} " 
                                    width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}">
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </div>

                            <div class="ap-categories__text">
                                <style>
                                    .section-{{ section.id }} #block-{{ block.id }} h2.heading:before {
                                        content: "";
                                        position: absolute;
                                        width: calc(100% + 2px);
                                        height: 50px;
                                        background-color: transparent;
                                        left: 50%;
                                        top: 0;
                                        transform: translateX(-50%);
                                        z-index: -1;
                                        border-radius: 10px 10px 0 0;
                                        background-color: {{ block.settings.bg_title }};
                                    }
                                </style>
                                {% if block.settings.heading != blank %}
                                    <h2 style="color: {{ section.settings.color_title }};" class="heading fw-bold {{ section.settings.heading_size_2 }} my-0">
                                    {{- block.settings.heading -}}
                                    </h2>
                                {% endif %}   
                                <div class="categories__item-menu pt-4">
                                    {%- if block.settings.menu != blank -%}
                                    <ul role="list">
                                    {%- for link in block.settings.menu.links -%}
                                        <li>
                                        <a href="{{ link.url }}">{{ link.title | escape }}</a>
                                        </li>    
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

            <!-- Pagination and Navigation -->
            {% if section.settings.dots %}
            <div class="swiper-pagination"></div>
            {% endif %}

            {% if section.settings.arrows %}
                <button class="swiper-button-prev" data-swiper-id="{{ section.id }}-prev">
                    {% render 'icon-arrow-prev' %}
                </button>
                <button class="swiper-button-next" data-swiper-id="{{ section.id }}-next">
                    {% render 'icon-arrow-next' %}
                </button>
            {% endif %}

        </div>
    </div>
</section>

{% schema %}
{
  "name": "Categories carousel",
  "tag": "section",
  "class": "shopify-section-categories-carousel",
  "max_blocks": 15,
  "settings": [
    {
      "type": "select",
      "id": "setwidthout",
      "label": "Set Width",
      "default": "full",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_tablet_large",
      "label": "Margin tablet large",
      "default": "0px 0px 0px 0px",
      "info": "Example: 0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_tablet_lager",
      "label": "Padding tablet larger",
      "default": "0px 0px 0px 0px",
      "info": "Example: 0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    },
    {
      "type": "color",
      "id": "background-color",
      "default": "#ffffff",
      "label": "t:sections.all.background-color.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.child-collections.settings.heading_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#282828",
      "label": "t:sections.child-collections.settings.text_color.label"
    },
    {
      "type": "liquid",
      "id": "sub_heading",
      "default": "Sub heading",
      "label": "Sub Heading"
    },
    {
      "type": "liquid",
      "id": "tab_heading",
      "default": "Welcome to our store",
      "label": "t:sections.advanced-content.settings.tab_heading.label"
    },
    {
      "type": "range",
      "id": "tab_heading_size",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
      "label": "t:sections.advanced-content.settings.tab_heading_size.label"
    },
    {
      "type": "text",
      "id": "tab_description",
      "label": "t:sections.advanced-content.settings.tab_description.label"
    },
    {
      "type": "liquid",
      "id": "btn_text",
      "label": "Button / HTML"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-base",
      "options": [
        {
          "value": "btn-base",
          "label": "Button Base"
        },
        {
          "value": "btn-outline",
          "label": "Button Out Line"
        },
        {
          "value": "btn-line",
          "label": "Button Line"
        },
        {
          "value": "btn-line-black",
          "label": "Button Line Black"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text align"
    },
    {
      "type": "header",
      "content": "Settings item"
    },
    {
      "type": "range",
      "id": "perviewDesktop",
      "label": "Per View Desktop",
      "max": 8,
      "min": 1,
      "step": 1,
      "unit": " c",
      "default": 4
    },
    {
      "type": "range",
      "id": "spaceBetween",
      "label": "Space Between",
      "max": 60,
      "min": 0,
      "step": 1,
      "unit": " sp",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "nowrap",
      "label": "Wrap Box",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    }, 
    {
      "type": "text",
      "id": "img_size",
      "label": "Width height Image",
      "default": "120"
    },
    {
      "type": "select",
      "id": "heading_size_2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h3",
      "label": "Heading size"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color title"
    },
    {
      "type": "color",
      "id": "color_link",
      "label": "Color link"
    }
  ],
  "blocks": [
    {
      "type": "categories_item",
      "name": "Item",
      "settings": [
        {
          "type": "color",
          "id": "bg_content",
          "label": "Background content",
          "default": "#fff"
        },
        {
            "type": "color",
            "id": "bg_title",
            "label": "Background title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Link list"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories carousel",
      "blocks": [
        {
          "type": "categories_item"
        },
        {
          "type": "categories_item"
        },
        {
          "type": "categories_item"
        }
      ]
    }
  ]
}
{% endschema %}  