{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

{%- style -%}
  #shopify-section-{{ section.id }} {
    
  }
{%- endstyle -%}

<section class="contact-form-section">
  <div class="{{ section.settings.setwidthout }}">
    <div class="contact-row">
      <div class="contact-content">
        {%- if section.settings.heading != blank -%}
          <h2 style="color: {{ section.settings.color_text }}" class="title title-wrapper--no-top-margin {{ section.settings.heading_size }} mb-30">{{ section.settings.heading | escape }}</h2>
        {%- else -%}
          <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
        {%- endif -%}
        {% if section.settings.description != blank %}
        <p style="color: {{ section.settings.color_text }}" class="description mb-40">
          {{ section.settings.description }}
        </p>
        {% endif %}
        {% if section.settings.info_text != blank and section.settings.info_text_2 != blank %}
        <div style="color: {{ section.settings.color_text }}" class="contact-content-info">
          <div class="cc-info-item">
            <div class="cc-info-icon">{{ section.settings.icon }}</div>
            <div class="cc-info-text">{{ section.settings.info_text }}</div>
          </div>
          <div class="cc-info-item">
            <div class="cc-info-icon">{{ section.settings.icon_2 }}</div>
            <div class="cc-info-text">{{ section.settings.info_text_2 }}</div>
          </div>
          <div class="cc-info-item">
            <div class="cc-info-icon">{{ section.settings.icon_3 }}</div>
            <div class="cc-info-text">{{ section.settings.info_text_3 }}</div>
          </div>
        </div>
        {% endif %}
      </div>
        
      <div class="contact-form">
        {% if section.settings.contact_form_title != blank %}
        <h2 class="contact-form-title">{{ section.settings.contact_form_title }}</h2>
        {% endif %}
        {% if section.settings.contact_form_des != blank %}
        <p class="contact-form-description">{{ section.settings.contact_form_des }}</p>
        {% endif %}
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
            <div class="field">
              <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
              <label class="field__label d-none" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
            </div>
            <div class="field field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{ 'templates.contact.form.email' | t }}"
              >
              <label class="field__label d-none" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                </small>
              {%- endif -%}
            </div>
          </div>
          <div class="field">
            <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
            <label class="field__label d-none" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
          </div>
          <div class="field">
            <textarea
              rows="6"
              id="ContactForm-body"
              class="text-area field__input"
              name="contact[{{ 'templates.contact.form.comment_2' | t }}]"
              placeholder="{{ 'templates.contact.form.comment_2' | t }}"
            >
              {{- form.body -}}
            </textarea>
            <label class="form__label field__label d-none" for="ContactForm-body">{{ 'templates.contact.form.comment_2' | t }}</label>
          </div>
          <div class="contact__button">
            <button type="submit" class="button btn-outline">
              {{ 'templates.contact.form.send_message' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact form section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "setwidthout",
      "label": "Set Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background color content"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image content"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    },
    {
      "type": "header",
      "content": "Settings contact content"
    },
    {
      "type": "color",
      "id": "color_text",
      "default": "#fff",
      "label": "Color text"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Send a message",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h4",
      "label": "Heading size"
    },
    {
      "type": "liquid",
      "id": "description",
      "default": "Just fill out the form here and we'll get back to you as soon as possible.",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "liquid",
      "id": "icon",
      "label": "Icon svg"
    },
    {
      "type": "liquid",
      "id": "info_text",
      "label": "Info Text"
    },
    {
      "type": "liquid",
      "id": "icon_2",
      "label": "Icon svg"
    },
    {
      "type": "liquid",
      "id": "info_text_2",
      "label": "Info Text 2"
    },
    {
      "type": "liquid",
      "id": "icon_3",
      "label": "Icon svg"
    },
    {
      "type": "liquid",
      "id": "info_text_3",
      "label": "Info Text 3"
    },
    {
      "type": "header",
      "content": "Settings contact form"
    },
    {
      "type": "text",
      "id": "contact_form_title",
      "label": "Contact form title",
      "default": "Make Appointment"
    },
    {
      "type": "liquid",
      "id": "contact_form_des",
      "label": "Contact form description",
      "default": "Auto Service Manager will then contact you to confirm your appointment via email or phone."
    }
  ],
  "presets": [
    {
      "name": "Contact form section"
    }
  ]
}
{% endschema %}
