{%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
  {%- if form.posted_successfully? -%}
    <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
      {% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}
    </h2>
  {%- elsif form.errors -%}
    <div class="form__message">
      <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
        {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
      </h2>
    </div>
    <ul class="form-status-list caption-large" role="list">
      <li>
        <a href="#ContactForm-email" class="link">
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
        </a>
      </li>
    </ul>
  {%- endif -%}

  <div class="contact__fields">

    <!-- Nombre -->
    <div class="field">
      <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[name]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="Nombre *">
      <label class="field__label d-none" for="ContactForm-name">Nombre *</label>
    </div>

    <!-- Apellido -->
    <div class="field">
      <input class="field__input" type="text" id="ContactForm-apellido" name="contact[apellido]" placeholder="Apellidos *" value="{% if form.apellido %}{{ form.apellido }}{% endif %}">
      <label class="field__label d-none" for="ContactForm-apellido">Apellidos *</label>
    </div>

    <!-- Email -->
    <div class="field field--with-error">
      <input
        autocomplete="email"
        type="email"
        id="ContactForm-email"
        class="field__input"
        name="contact[email]"
        spellcheck="false"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="ContactForm-email-error"
        {% endif %}
        placeholder="Correo electrónico *"
      >
      <label class="field__label d-none" for="ContactForm-email">Correo electrónico *</label>
    </div>

    <!-- Teléfono -->
    <div class="field">
      <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="Teléfono *">
      <label class="field__label d-none" for="ContactForm-phone">Teléfono *</label>
    </div>

    <!-- Dirección -->
    <div class="field">
      <input class="field__input" type="text" id="ContactForm-direccion" name="contact[direccion]" placeholder="Dirección *" value="{% if form.direccion %}{{ form.direccion }}{% endif %}">
      <label class="field__label d-none" for="ContactForm-direccion">Dirección *</label>
    </div>

    <!-- Código postal -->
    <div class="field">
      <input class="field__input" type="text" id="ContactForm-cp" name="contact[codigo_postal]" placeholder="Código postal *" value="{% if form.codigo_postal %}{{ form.codigo_postal }}{% endif %}">
      <label class="field__label d-none" for="ContactForm-cp">Código postal *</label>
    </div>

    <!-- Ciudad -->
    <div class="field">
      <input class="field__input" type="text" id="ContactForm-ciudad" name="contact[ciudad]" placeholder="Ciudad *" value="{% if form.ciudad %}{{ form.ciudad }}{% endif %}">
      <label class="field__label d-none" for="ContactForm-ciudad">Ciudad *</label>
    </div>

    <!-- Número de cajas -->
    <div class="field">
      <input class="field__input" type="number" id="ContactForm-cajas" name="contact[numero_cajas]" placeholder="Número de cajas *" min="1" value="{% if form.numero_cajas %}{{ form.numero_cajas }}{% endif %}">
      <label class="field__label d-none" for="ContactForm-cajas">Número de cajas *</label>
    </div>

  </div>

  <div class="contact__button">
    <button type="submit" class="button btn-outline">
      {{ 'templates.contact.form.send_message' | t }}
    </button>
  </div>
{%- endform -%}

{% schema %}
{
  "name": "Contact form section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "setwidthout",
      "label": "Set Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background color content"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image content"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    },
    {
      "type": "header",
      "content": "Settings contact content"
    },
    {
      "type": "color",
      "id": "color_text",
      "default": "#fff",
      "label": "Color text"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Send a message",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h4",
      "label": "Heading size"
    },
    {
      "type": "liquid",
      "id": "description",
      "default": "Just fill out the form here and we'll get back to you as soon as possible.",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "liquid",
      "id": "icon",
      "label": "Icon svg"
    },
    {
      "type": "liquid",
      "id": "info_text",
      "label": "Info Text"
    },
    {
      "type": "liquid",
      "id": "icon_2",
      "label": "Icon svg"
    },
    {
      "type": "liquid",
      "id": "info_text_2",
      "label": "Info Text 2"
    },
    {
      "type": "liquid",
      "id": "icon_3",
      "label": "Icon svg"
    },
    {
      "type": "liquid",
      "id": "info_text_3",
      "label": "Info Text 3"
    },
    {
      "type": "header",
      "content": "Settings contact form"
    },
    {
      "type": "text",
      "id": "contact_form_title",
      "label": "Contact form title",
      "default": "Make Appointment"
    },
    {
      "type": "liquid",
      "id": "contact_form_des",
      "label": "Contact form description",
      "default": "Auto Service Manager will then contact you to confirm your appointment via email or phone."
    }
  ],
  "presets": [
    {
      "name": "Contact form section"
    }
  ]
}
{% endschema %}
