{% render 'section-style' %}

<style>
  {% if section.settings.nowrap %}
    #shopify-section-{{ section.id }} .swiper-container {
      clip-path: unset;
    }
  {% endif %}

/* TEXT WITH PRODUCT */
{% if section.settings.text_with_product %}
  #shopify-section-{{ section.id }} .section__header {
    margin-bottom: 6px!important;
  }
{% endif %}
@media (min-width: 1500px) {
  #shopify-section-{{ section.id }} .countdown-header.text-center {
    max-width: 350px;
  }
  .text-w-product {
    display: flex;
    align-items: start;
    gap: 55px;
  }
  .text-w-product .section__header-countdown {
    width: 25%;
  }
  .text-w-product .product-sw-list {
    width: 75%;
  }
}
</style>

<section class="section-{{ section.id }}">
  <div class="{{ section.settings.setwidthout }}">
      <div class="{% if section.settings.text_with_product %}text-w-product{% endif %}">

        <div {% if section.settings.arrow_heading %}style="gap: 15px 0;"{% endif %} class="{% if section.settings.arrow_heading %}d-flex flex-wrap flex-md-row flex-column align-items-center mb-5 {% else %} section__header-countdown{% endif %}">
          
          {% render 'section-heading' %}
  
          {% if section.settings.date_picker != blank and section.settings.time_picker != blank %}
            <div class="header-box-center countdown-header text-{{ section.settings.text_align }} mb-4"> 
              <div class="header-countdown-title">
                {{ section.settings.title_countdown }}
              </div>
              {% render 'collection-countdown' , settings: section.settings %}
            </div>
          {% endif %}

          {% if section.settings.arrow_heading %}
            <div style="gap: 10px;" class="d-flex position-relative justify-content-md-end justify-content-center arrow-heading">
              <button class="swiper-button-prev" data-swiper-id="{{ section.id }}-prev">
                {% render 'icon-arrow-prev' %}
              </button>
              <button class="swiper-button-next" data-swiper-id="{{ section.id }}-next">
                {% render 'icon-arrow-next' %}
              </button>
            </div>
          {% endif %}
        
        </div>
    
        <!-- Swiper -->
        <div data-swiper-id="{{ section.id }}" class="ap-swiper mySwiper swiper-container product-sw-list" data-swiper='{
            "spaceBetween": 15,
            "slidesPerView": 3,
            "breakpoints":{
              "576": {
                "slidesPerView": 3,
                "spaceBetween": 15
              },
              "768":{
                "slidesPerView": 3,
                "spaceBetween": {{ section.settings.spaceBetween }}
              },
              "1200":{
                "slidesPerView": {{ section.settings.perviewDesktop }},
                "spaceBetween": {{ section.settings.spaceBetween }}
              }
            }
          }'>
            <div class="swiper-wrapper">
                <!-- Generating 10 cards with different content -->
                {% liquid
                    if section.settings.collection != blank
                        assign limit = section.settings.limit
                        for product in section.settings.collection.products limit: limit
                            echo '<div class="swiper-slide">'
                                render 'product-grid-2', product: product
                            echo '</div>'
                        endfor
                    else
                        if section.settings.collection == blank
                            for i in (1..6)
                                echo '<div class="swiper-slide">'
                                    capture current
                                    cycle 1, 2, 3, 4, 5, 6
                                    endcapture
                                    assign img = 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg'
                                    echo img
                                echo '</div>'
                            endfor
                        endif
                    endif
                %}
            </div>

            <!-- Pagination and Navigation -->
            {% if section.settings.dots %}
              <div class="swiper-pagination"></div>
            {% endif %}

            {% if section.settings.arrow_heading != true %}
              {% if section.settings.arrows %}
                <button class="swiper-button-prev" data-swiper-id="{{ section.id }}-prev">
                  {% render 'icon-arrow-prev' %}
                </button>
                <button class="swiper-button-next" data-swiper-id="{{ section.id }}-next">
                  {% render 'icon-arrow-next' %}
                </button>
              {% endif %}
            {% endif %}

        </div>

      </div>

      {% for product in section.settings.collection.products %}
        <ap-quickbuy id="product-{{ section.id }}-{{ product.id }}-drawer" href="/products/{{ product.handle }}?view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hd-phone"></ap-quickbuy>
      {% endfor %}
  </div>
</section>
  
{% schema %}
{
  "name": "Product list Swiper",
  "class": "index-section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "setwidthout",
      "label": "Set Width",
      "default": "full",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",   
      "id": "background-color",
      "default": "#ffffff",
      "label": "t:sections.all.background-color.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image.label"
    },
    {
      "label": "Text With Product",
      "id": "text_with_product",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#282828",
      "label": "t:sections.advanced-content.settings.heading_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#282828",
      "label": "t:sections.advanced-content.settings.text_color.label"
    },
    {
      "type": "liquid",
      "id": "sub_heading",
      "default": "Sub heading",
      "label": "Sub Heading"
    },
    {
      "type": "liquid",
      "id": "tab_heading",
      "default": "Welcome to our store",
      "label": "t:sections.advanced-content.settings.tab_heading.label"
    },
    {
      "type": "range",
      "id": "tab_heading_size",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
      "label": "t:sections.advanced-content.settings.tab_heading_size.label"
    },
    {
      "type": "text",
      "id": "tab_description",
      "label": "t:sections.advanced-content.settings.tab_description.label"
    },
    {
      "type": "liquid",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-base",
      "options": [
        {
          "value": "btn-base",
          "label": "Button Base"
        },
        {
          "value": "btn-outline",
          "label": "Button Out Line"
        },
        {
          "value": "btn-line",
          "label": "Button Line"
        },
        {
          "value": "btn-line-black",
          "label": "Button Line Black"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text align"
    },
    {
      "type": "text",
      "id": "title_countdown",
      "label": "Title Count Down",
      "default": "Title Count Down"
    },
    {
      "type": "text",
      "id": "time_picker",
      "label": "Choose time",
      "default": "23:00",
      "info": "00:00"
    },
    {
      "type": "text",
      "id": "date_picker",
      "label": "Choose date",
      "default": "30-12-2225",
      "info": "e.g. dd-mm-yyyy"
    },
    {
      "label": "Collection",
      "id": "collection",
      "type": "collection"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 3,
      "max": 30,
      "step": 1,
      "label": "Limit items",
      "default": 10
    },
    {
      "type": "range",
      "id": "perviewDesktop",
      "label": "Per View Desktop",
      "max": 6,
      "min": 1,
      "step": 1,
      "unit": " c",
      "default": 4
    },
    {
      "type": "range",
      "id": "spaceBetween",
      "label": "Space Between",
      "max": 40,
      "min": 0,
      "step": 1,
      "unit": " sp",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": true
    },
    {
      "label": "Arrow heading",
      "id": "arrow_heading",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "nowrap",
      "label": "Wrap Box",
      "default": true
    },
    {
      "type": "header",
      "content": "Margin & Padding"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.all.margin_desktop.label",
      "info": "t:sections.all.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_tablet",
      "label": "t:sections.all.margin_tablet.label",
      "info": "t:sections.all.margin_tablet.info"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.all.margin_mobile.label",
      "info": "t:sections.all.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.all.padding_desktop.label",
      "info": "t:sections.all.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.all.padding_mobile.label",
      "info": "t:sections.all.padding_mobile.info"
    }
  ],
  "presets": [
    {
      "name": "Product list (Swiper)",
      "category": "Collection"
    }
  ]
}
{% endschema %}